/* ---- @background ---- */

/*background image formated using gradient
  documentation here: https://developer.mozilla.org/fr/docs/Web/CSS/linear-gradient */

body, html {
    height: 100%;
    background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
    background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.7) , rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
    background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  /*No longer reliant on overlay background*/
  #overlay {
    background-image: url(../img/freedom-summer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
  }
  #overlaySolid {
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
  }
  /* @end */