/* @group ---Content--- */
/* Primary Content */

/*formatted content to match static page*/ 

#content {
    width: 100%;
    top: 0;
    padding: 3% 6%;
    position: relative;
    overflow: auto;
    border: none;
    background: none;
    margin-bottom: 40px;
    }
    #content #primary {
    position: relative;
    display: block;
    font-family: "Cormorant Garamond", Times, serif;
    font-weight: 400;
    width: 45%;
    border: none;
    background-size: auto !important;
    background-color: rgba(234, 224, 204, 0.8);
    box-shadow: 2px 0 40px;
    z-index: 1000
    }
    #content #primary p {
    padding-left: 7% !important;
    padding-right: 5% !important;
    padding-bottom: 1% !important;
    font-size: 1.4em;
    line-height: 1.25em;
    letter-spacing: .02em;
    }
    #featured-img {
    box-shadow: 5px 5px 35px;
    position: relative;
    width: 100%;
    border: none;
    }
    .featured img {
    border: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    }
    #featured-exhibit img {
    background-color: transparent;
    }
    /* -- Slideshow -- */
    
    /* Position the image container (needed to position the left and right arrows) */
    .container {
    position: relative;
    padding: 0 !important;
    width: 100%;
    }
    
    /* Hide the images by default */
    .mySlides {
    display: none;
    }
    #defaultSlide {
    display: block;
    }
    .slideNav {
    height: 5%;
    }
    
    /* Add a pointer when hovering over the thumbnail images */
    .cursor {
    cursor: pointer;
    }
    
    /* Next & previous buttons */
    .prev,
    .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    margin-top: -60px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    background-color: rgba(73, 70, 70, 0.75);
    font-family: "Avenir", Helvetica, sans-serif;
    letter-spacing: .02em;
    }
    
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
    background-color: rgb(77, 106, 109);
    transition: .3s;
    }
    
    .prev:focus, .next:focus {
    border: none;
    background-color: rgb(77, 106, 109);
    }
    /* Number text (1/3 etc) */
    .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    
    /* Container for image text */
    .caption-container {
    text-align: center;
    background-color: rgba(68, 63, 63, 0.9);
    padding: 2px 16px;
    color: white;
    }
    #caption {
    font-family: "Avenir", Arial, sans-serif;
    font-size: 1em;
    }
    
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    
    /* Four columns side by side */
    .column {
    float: left;
    width: 22%;
    }
    
    /* Add a transparency effect for thumnbail images */
    .demo {
    opacity: 0.6;
    }
    
    .active,
    .demo:hover {
    opacity: 1;
    transition: 1s;
    }
    /* @end primary content */
    
    /* Secondary content */
    #content #secondary {
    position: relative;
    overflow: visible;
    background-color: rgba(234, 224, 204, 0.95);
    line-height: 1.2em;
    font-family: "Cormorant Garamond", Times, serif;
    font-size: 18px;
    box-shadow: 2px 2px 25px;
    width: 50%;
    }
    #home #secondary {
    float: right;
    padding: 0 !important;
    }
    #home #content h2 {
    text-transform: capitalize;
    letter-spacing: .04em;
    font-size: 1.8em;
    padding: 1%;
    padding-left: 5% !important;
    font-weight: 500;
    }
    .featured, #featured-exhibit {
    padding: 0;
    margin: 0;
    }
    #secondary {
    background: #eee;
    position: relative;
    padding-bottom: 50px;
    }
    #secondary p {
    padding-left: 7% !important;
    padding-right: 5% !important;
    padding-bottom: 1% !important;
    font-size: 1.4em;
    line-height: 1.25em;
    letter-spacing: .02em;
    }
    ol {
    padding-left: 12% !important;
    padding-right: 5% !important;
    }
    /* @end secondary content */
    /* @end content */