/* custom edits */

/* ---- @background ---- */

body, html {
  height: 100%;
  background-image: -o-linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
  background-image: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0.7) , rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
  background-image: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../img/freedom-summer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}
#overlay {
  background-image: url(../img/freedom-summer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: auto;
}
#overlaySolid {
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
/* @end */

/* @group ----- Colors and Fonts ----- */
body {
  color: rgb(73, 70, 70);
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 20px;
  letter-spacing: .004em;
}
header {
  border: none;
  text-transform: lowercase;
}
#logo {
  width: 100%;
  padding-bottom: .2%;
  padding-left: 2% !important;
}
#logo a {
  border: none;
}
ul.nav-menu {
  font-family: "Avenir", Helvetica, sans-serif !important;
  font-size: 24px;
  background-color: transparent;
}
ul.navigation.nav-menu {
  background: transparent;
}
h2 {
  color: rgb(77, 106, 109);
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}
a:link {
  color: #888;
}
a:visited {
  color: #999;
}
a:hover {
  color: #777;
}
a:active {
  color: #777;
}
p {
  font-family: "Cormorant Garamond", Times, serif;
}
.button, button, input[type="reset"], input[type="submit"], input[type="button"], .pagination_next a, .pagination_previous a {
  color: rgb(77, 106, 109);
}
footer {
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 400;
}
/* @end font styles*/

/* @group ----- Header ----- */
header {
  background-size: auto !important;
  -ms-behavior: url("../javascripts/backgroundsize.min.htc");
  background-position-x: right !important;
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 400;
  background-color: rgba(234, 224, 204, 0.8);
  width: 100%;
  margin: 0 auto;
  position: relative;
  box-shadow: 2px 0 40px;
  z-index: 1000;
  padding-top: 2%;
}
img {
  width: 30%;
}
.jcarousel img {
  display: block;
  max-width: 100%;
  border: 2px solid transparent;
  height: auto !important;
  margin: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#logo img {
  width: 510px;
}
.no-textshadow #site-title a {
  background-color: #000;
  padding: 6px;
}
.no-textshadow #site-title a:link, .no-textshadow #site-title a:visited, .no-textshadow #site-title a:active, .no-textshadow #site-title a:hover {
  color: transparent;
}
#site-title {
  width: 100%;
  font-size: 1.5em;
  margin-left: 4%;
  padding: 1% 0 2%;
  letter-spacing: 0.2em;
  text-transform: lowercase;
}
#site-title a {
  border-bottom: 0;
  background-color: transparent;
  color: transparent;
}
#site-title a img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
#primary-nav {
  clear: none;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  z-index: 50;
  background-color: transparent !important;
  color: rgb(87, 84, 84) !important;
}
#primary-nav a {
  padding: 0;
  background: none;
}
#primary-nav a:hover {
  background: rgb(77, 106, 109);
  transition: .3s;
}
#primary-nav a:not(hover) {
  background: transparent;
}
.navBar {
  padding-top: 1%;
}
#primary-nav .nav-menu {
  padding: 0 8% 0 2%;
  letter-spacing: 0.03em;
  border: none;
}
#primary-nav .nav-item:first-child>a {
  border: none;
}
#primary-nav .nav-item>a {
  border: none;
  border-color: none;
  text-align: center;
  padding-bottom: 18px;
  padding-top: 14px;
  display: block;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.02em;
}
#primary-nav .nav-item>a:active {
  background-color: rgb(77, 106, 109);
}
#primary-nav .nav-item>a.open {
  background-color: rgb(77, 106, 109) !important;
}
#primary-nav .nav-item>a:focus {
  border: none;
  margin: 0;
  background-color: rgb(77, 106, 109);
}
#primary-nav .sub-nav {
  background-color: transparent !important;
}
#primary-nav .sub-nav.open {
  width: inherit;
  border: none !important;
}
#primary-nav .subnav a:hover+ul, #primary-nav .subnav a:focus+ul {
  top: 0;
  margin-top: 0;
  width: inherit;
  background-color: rgb(77, 106, 109) !important;
  box-shadow: none;
}
#primary-nav .sub-nav ul {
  vertical-align: top;
  margin: 0;
  padding: 0;
}
#primary-nav .sub-nav ul a {
  margin-top: 0;
}
#primary-nav .sub-nav ul a:before {
  content: "\2014";
  margin-right: 0;
}
#primary-nav .sub-nav>li {
  border-bottom: none;
}
/* @end--navbar */

/* @group --- Search-- */
.searchBar {
  padding-top: 9px;
  padding-bottom: 9px;
}
.searchBar:hover {
  display: block;
}
#search-container {
  width: 30%;
  margin-right: 2% !important;
}
#search-container h2 {
  display: none;
}
#search-container button {
  background: rgb(77, 106, 109);
  color: white;
  position: absolute;
  border: 0;
  right: 0;
  top: 0;
  width: 30px;
  text-indent: -9999px;
  margin-top: 9px;
  margin-bottom: 9px;
}
#search-container input[type=text] {
  padding: 8px;
}
::placeholder {
  font-size: 1.2em;
}
/* @end navigation */

/* @group ---Content--- */
/* Primary Content */

#content {
  width: 100%;
  top: 0;
  padding: 3% 6%;
  position: relative;
  overflow: auto;
  border: none;
  background: none;
  margin-bottom: 40px;
  
}
#content #primary {
  position: relative;
  display: block;
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 400;
  width: 45%;
  border: none;
  background-size: auto !important;
  background-color: rgba(234, 224, 204, 0.8);
  box-shadow: 2px 0 40px;
  z-index: 1000
}
#content #primary p {
  padding-left: 7% !important;
  padding-right: 5% !important;
  padding-bottom: 1% !important;
  font-size: 1.4em;
  line-height: 1.25em;
  letter-spacing: .02em;
}
#featured-img {
  box-shadow: 5px 5px 35px;
  position: relative;
  width: 100%;
  border: none;
}
.featured img {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
#featured-exhibit img {
  background-color: transparent;
}
/* -- Slideshow -- */

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 0 !important;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
#defaultSlide {
  display: block;
}
.slideNav {
  height: 5%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  margin-top: -60px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  background-color: rgba(73, 70, 70, 0.75);
  font-family: "Avenir", Helvetica, sans-serif;
  letter-spacing: .02em;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(77, 106, 109);
  transition: .3s;
}

.prev:focus, .next:focus {
  border: none;
  background-color: rgb(77, 106, 109);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgba(68, 63, 63, 0.9);
  padding: 2px 16px;
  color: white;
}
#caption {
  font-family: "Avenir", Arial, sans-serif;
  font-size: 1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Four columns side by side */
.column {
  float: left;
  width: 22%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
  transition: 1s;
}
/* @end primary content */

/* Secondary content */
#content #secondary {
  position: relative;
  overflow: visible;
  background-color: rgba(234, 224, 204, 0.95);
  line-height: 1.2em;
  font-size: 18px;
  box-shadow: 2px 2px 25px;
  width: 50%;
}
#home #secondary {
  float: right;
  padding: 0 !important;
}
#home #content h2 {
  text-transform: capitalize;
  letter-spacing: .04em;
  font-size: 1.8em;
  padding: 1%;
  padding-left: 5% !important;
  font-weight: 500;
}
.featured, #featured-exhibit {
  padding: 0;
  margin: 0;
}
#secondary {
  background: #eee;
  position: relative;
  padding-bottom: 50px;
}
#secondary p {
  padding-left: 7% !important;
  padding-right: 5% !important;
  padding-bottom: 1% !important;
  font-size: 1.4em;
  line-height: 1.25em;
  letter-spacing: .02em;
}
ol {
  padding-left: 12% !important;
  padding-right: 5% !important;
}
/* @end secondary content */
/* @end content */

/* @group--Footer-- */
footer {
  clear: both;
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  /*padding: 0.5em 2em;*/
  width: 100%;
  height: 5%;
  font-family: "Avenir", Helvetica, sans-serif;
  background-color: rgba(234, 224, 204, 0.8);
  font-size: .9em;
  overflow: visible;
  padding: 0.5%;
  padding-left: 2% !important;
}
#footer {
  width: 100%;
  margin: 0 auto;
}
footer p {
  margin: 0.5% 0;
  font-family: "Avenir", Helvetica, sans-serif;
  float: right;
}
footer nav {
  margin: 0.5% 0;
  float: left;
  border-bottom: 1px solid transparent;
}
#omeka {
  font-weight: bold;
  border-bottom: 1px dotted rgb(77, 106, 109);
}
#footer-content a:hover, a:focus {
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
footer .navigation li:after {
  color: rgb(77, 106, 109);
}
footer .navigation {
  font-weight: 500;
}
/* -- @end footer -- */

/* -- Links -- */
a:link, a:visited {
  color: rgb(77, 106, 109);
}
a:hover, a:active {
  color: #fff;
  background-color: rgb(77, 106, 109);
}
#primary-nav a:hover, #primary-nav a:focus, #primary-nav li.active>a {
  color: #fff;
  position: relative;
  z-index: 1;
}
img a {
  border: none;
  background-color: none;
}
#logo a:hover {
  color: transparent;
  background-color: transparent;
}
/* @end links */


/* --MEDIA QUERIES-- */

/* --@group hi-res laptops and desktops-- */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  #primary-nav .nav-item>a {
    font-size: 1em;
  }
  #logo img {
    width: 510px;
  }
  #content #primary {
    width: 45%;
  }
  .prev, .next {
    font-size: 20px;
    padding: 18px;
  }
  #caption {
    font-size: .9em;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 50%;
  }
  #secondary p {
    padding: .6em 1em;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group big landscape tablets, laptops, and desktops-- */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  #logo {
    width: 100%;
    padding-bottom: .2%;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 40%;
    min-width: 415px;
  }
  #primary-nav .nav-item>a {
    font-size: .9em;
  }
  #primary-nav .nav-menu {
    letter-spacing: 0.03em;
    border: none;
  }
  #content {
    padding: 3% 5%;
  }
  .prev, .next {
    font-size: 18px;
    padding: 16px;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group tablet, landscape iPad, lo-res laptops ands desktops-- */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  #primary-nav .nav-item>a {
    font-size: 0.9em;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 40%;
    min-width: 415px;
  }
  #content {
    padding: 3% 5%;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 16px;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)-- */
@media only screen and (min-width: 769px) and (max-width: 960px) {
  #primary-nav .nav-item>a {
    font-size: 0.8em;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 45%;
    min-width: 400px;
  }
  #content {
    padding: 3% 5%;
    overflow: auto;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 14px;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .6em;
  }
}
/* --end @group-- */

/* --@group mobile-- */
@media screen and (max-width: 768px) {
  img {
    width: 50%;
    padding-bottom: 0;
  }
  #logo img {
    width: 50%;
    min-width: 340px;
  }
  #mobile-nav {
    width: 100%;
  }
  #mobile-nav ul {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-left: 0;
    margin: 0;
    border: none;
  }
  #mobile-nav li>a:focus {
    color: #fff;
    background-color: rgb(77, 106, 109);
    border-left: none;
    border-right: none;
  }
  .navigation {
    background: rgba(255, 255, 255, 0.7);
  }
  .navBar {
    padding-top: 3%;
  }
  header {
    padding-top: 2%;
  }
  .deskSearch {
    display: none;
  }
  #search-container {
    width: 100%;
    font-size: 12px;
    margin: 0 !important;
  }
  #search-form {
    margin-left: 0 !important;
  }
  .mobileSearch {
    border: 1px solid #ccc;
    margin: 1% !important;
    padding: 4% !important;
  }
  #search-container button {
    border: 0px !important;
    margin: 4% 4% 4% 0 !important;
  }
  input {
    display: none;
  }
  #mobile-nav a:hover {
    background: rgb(77, 106, 109);
    color: rgb(255, 255, 255);
    border-left: none;
    border-right: none;
  }
  #mobile-nav>a:first-child {
    background: rgb(77, 106, 109);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(204, 204, 204, 0.2);
  }
  #mobile-nav li {
    background: rgba(255, 255, 255, 0.7);
    border-left: none;
    border-right: none;
  }
  #mobile-nav li.current a {
    background: #fff;
    color: #ff8000;
  }
  #mobile-nav li ul {
    position: relative;
  }
  #mobile-nav li ul a:before {
    content: "-- ";
  }
  #mobile-nav li ul ul a:before {
    content: "---- ";
  }
  #content {
    overflow: auto;
  }
  #content #primary {
    width: 100%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 12px;
  }
  .next {}
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 100%;
    margin-top: 1em;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .column {
    margin: 0 auto;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.5em;
    padding-bottom: 0;
    padding-left: .4em;
    font-weight: 400;
  }
  footer {
    height: 4%;
    font-size: .55em;
  }
  footer p {
    font-family: "Avenir", Helvetica, sans-serif;
    float: right;
    padding: 0.5%;
    margin: 0;
  }
  footer nav {
    display: none;
  }
}
/* -- @end --*/
