/* custom edits */

/* @group ----- Colors and Fonts ----- */
body {
  color: rgb(73, 70, 70);
  font-family: "Cormorant Garamond", Times, serif;
  font-size: 20px;
  letter-spacing: .004em;
}
/*lowercase font in the header to match theme*/
header {
  border: none;
  text-transform: lowercase;
}
#logo {
  width: 100%;
  padding-bottom: .2%;
  padding-left: 2% !important;
}
#logo a {
  border: none;
}
ul.nav-menu {
  font-family: "Avenir", Helvetica, sans-serif !important;
  font-size: 24px;
  background-color: transparent;
}
ul.navigation.nav-menu {
  background: transparent;
}
h2 {
  color: rgb(77, 106, 109);
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}
a:link {
  color: #888;
}
a:visited {
  color: #999;
}
a:hover {
  color: #777;
}
a:active {
  color: #777;
}
p {
  font-family: "Cormorant Garamond", Times, serif;
}
.button, button, input[type="reset"], input[type="submit"], input[type="button"], .pagination_next a, .pagination_previous a {
  color: rgb(77, 106, 109);
}
footer {
  font-family: "Avenir", Helvetica, sans-serif;
  font-weight: 400;
}
/* @end font styles*/

/* -- Links -- */
a:link, a:visited {
  color: rgb(77, 106, 109);
}
a:hover, a:active {
  color: #fff;
  background-color: rgb(77, 106, 109);
}
#primary-nav a:hover, #primary-nav a:focus, #primary-nav li.active>a {
  color: #fff;
  position: relative;
  z-index: 1;
}
img a {
  border: none;
  background-color: none;
}
#logo a:hover {
  color: transparent;
  background-color: transparent;
}
/* @end links */


/* --MEDIA QUERIES-- */

/* --@group hi-res laptops and desktops-- */
@media only screen and (min-width: 1281px) and (max-width: 1600px) {
  #primary-nav .nav-item>a {
    font-size: 1em;
  }
  #logo img {
    width: 510px;
  }
  #content #primary {
    width: 45%;
  }
  .prev, .next {
    font-size: 20px;
    padding: 18px;
  }
  #caption {
    font-size: .9em;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 50%;
  }
  #secondary p {
    padding: .6em 1em;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group big landscape tablets, laptops, and desktops-- */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  #logo {
    width: 100%;
    padding-bottom: .2%;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 40%;
    min-width: 415px;
  }
  #primary-nav .nav-item>a {
    font-size: .9em;
  }
  #primary-nav .nav-menu {
    letter-spacing: 0.03em;
    border: none;
  }
  #content {
    padding: 3% 5%;
  }
  .prev, .next {
    font-size: 18px;
    padding: 16px;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group tablet, landscape iPad, lo-res laptops ands desktops-- */
@media only screen and (min-width: 961px) and (max-width: 1024px) {
  #primary-nav .nav-item>a {
    font-size: 0.9em;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 40%;
    min-width: 415px;
  }
  #content {
    padding: 3% 5%;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 16px;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .7em;
  }
}
/* --end @group-- */

/* --@group portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)-- */
@media only screen and (min-width: 769px) and (max-width: 960px) {
  #primary-nav .nav-item>a {
    font-size: 0.8em;
  }
  img {
    width: 20%;
  }
  #logo img {
    width: 45%;
    min-width: 400px;
  }
  #content {
    padding: 3% 5%;
    overflow: auto;
  }
  #caption {
    font-size: .9em;
  }
  #content #primary {
    width: 40%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 14px;
  }
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 54%;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.7em;
    padding-bottom: 0;
    font-weight: 400;
  }
  footer {
    font-size: .6em;
  }
}
/* --end @group-- */

/* --@group mobile-- */
@media screen and (max-width: 768px) {
  img {
    width: 50%;
    padding-bottom: 0;
  }
  #logo img {
    width: 50%;
    min-width: 340px;
  }
  #mobile-nav {
    width: 100%;
  }
  #mobile-nav ul {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding-left: 0;
    margin: 0;
    border: none;
  }
  #mobile-nav li>a:focus {
    color: #fff;
    background-color: rgb(77, 106, 109);
    border-left: none;
    border-right: none;
  }
  .navigation {
    background: rgba(255, 255, 255, 0.7);
  }
  .navBar {
    padding-top: 3%;
  }
  header {
    padding-top: 2%;
  }
  .deskSearch {
    display: none;
  }
  #search-container {
    width: 100%;
    font-size: 12px;
    margin: 0 !important;
  }
  #search-form {
    margin-left: 0 !important;
  }
  .mobileSearch {
    border: 1px solid #ccc;
    margin: 1% !important;
    padding: 4% !important;
  }
  #search-container button {
    border: 0px !important;
    margin: 4% 4% 4% 0 !important;
  }
  input {
    display: none;
  }
  #mobile-nav a:hover {
    background: rgb(77, 106, 109);
    color: rgb(255, 255, 255);
    border-left: none;
    border-right: none;
  }
  #mobile-nav>a:first-child {
    background: rgb(77, 106, 109);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(204, 204, 204, 0.2);
  }
  #mobile-nav li {
    background: rgba(255, 255, 255, 0.7);
    border-left: none;
    border-right: none;
  }
  #mobile-nav li.current a {
    background: #fff;
    color: #ff8000;
  }
  #mobile-nav li ul {
    position: relative;
  }
  #mobile-nav li ul a:before {
    content: "-- ";
  }
  #mobile-nav li ul ul a:before {
    content: "---- ";
  }
  #content {
    overflow: auto;
  }
  #content #primary {
    width: 100%;
  }
  .prev, .next {
    font-size: 16px;
    padding: 12px;
  }
  .next {}
  #content #secondary {
    line-height: 1.2em;
    font-size: 16px;
    width: 100%;
    margin-top: 1em;
  }
  .row {
    display: flex;
    justify-content: center;
  }
  .column {
    margin: 0 auto;
  }
  #secondary p {
    padding: 0.0001em 1em;
    font-size: 1.2em;
    line-height: 1.3em;
    letter-spacing: .01em;
  }
  #home #content h2 {
    font-size: 1.5em;
    padding-bottom: 0;
    padding-left: .4em;
    font-weight: 400;
  }
  footer {
    height: 4%;
    font-size: .55em;
  }
  footer p {
    font-family: "Avenir", Helvetica, sans-serif;
    float: right;
    padding: 0.5%;
    margin: 0;
  }
  footer nav {
    display: none;
  }
}
/* -- @end --*/
